In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

### CSV to DataFrame

In [2]:
df=pd.read_csv('advertising.csv')
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [4]:
x=df.drop('Sales',axis=1)
y=df['Sales']
y

0      22.1
1      10.4
2      12.0
3      16.5
4      17.9
       ...
195     7.6
196    14.0
197    14.8
198    25.5
199    18.4
Name: Sales, Length: 200, dtype: float64

In [5]:
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.25,random_state=10)

In [6]:
y_test=pd.DataFrame(y_test)
y_train=pd.DataFrame(y_train)
y_train

     Sales
24     9.7
43    17.9
101   23.8
163   18.0
21    17.5
..     ...
113   20.9
64    16.0
15    22.4
125   10.6
9     15.6

[150 rows x 1 columns]

### Model Training

In [7]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [8]:
y_pred=model.predict(x_test)
y_pred=pd.DataFrame(y_pred)

### Evaluation

In [9]:
r2stest=r2_score(y_test,y_pred)
r2stest

0.8912098240283316

### create pickle file of model

In [10]:
import pickle

In [11]:
pickle.dump(model,open('model.pkl','wb'))

In [12]:
import os
print("PYTHONPATH:", os.environ.get('PYTHONPATH'))
print("PATH:", os.environ.get('PATH'))

PYTHONPATH: None
PATH: C:\Users\user\anaconda3;C:\Users\user\anaconda3\Library\mingw-w64\bin;C:\Users\user\anaconda3\Library\usr\bin;C:\Users\user\anaconda3\Library\bin;C:\Users\user\anaconda3\Scripts;C:\Users\user\anaconda3\bin;C:\Users\user\anaconda3\condabin;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\WindowsPowerShell\v1.0;C:\Windows\System32\OpenSSH;C:\Program Files\dotnet;C:\Program Files\Git\cmd;C:\Program Files\PuTTY;C:\Program Files\MySQL\MySQL Shell 8.0\bin;C:\Users\user\AppData\Local\Microsoft\WindowsApps;.;C:\Users\user\AppData\Local\Programs\Microsoft VS Code\bin